.headerStyle {
    width: 100%;
    height: 20%;
    position: relative;
}

h3 {
    position: relative;
    right: 135px;
    bottom: 325px;
    margin-left: 10px;
    background-color: dodgerblue;
    box-sizing: border-box;
    border: 0px solid white;
    padding: 15px 150% 15px 5px;
}

.menuStyle {
    position: relative;
    float: left;
    top: 50px;
    border: 1px solid darkgray;
    width: 10%;
    margin-right: 0px;
}

#mainDivListagem {
    width: 90%;
    position: relative;
    bottom: 130px;
    left: 100px;
    margin: 0px;
}

#mainDivCadastro {
    width: 90%;
    position: relative;
    top: 100px;
    left: 100px;
    margin: 0px;
}