.headerStyle {
    width: 100%;
    height: 20%;
    position: relative;
    background-color: dodgerblue;
}

h3 {
    position: relative;
    right: 115px;
    bottom: 20px;
}

.menuStyle {
    position: relative;
    float: left;
    top: 35px;
    left: 10px;
    border: 1px solid darkgray;
    width: 10%;
    margin-right: 0px;
}

#mainDiv {
    width: 90%;
    position: relative;
    top: 80px;
    left: 150px;
    margin: 0px;

}